upstream backend {
    server {{ test_url }};
}

server {
    listen 8080 default_server;

    location = /hosts/ {
        proxy_pass http://backend/;
    }
}

server {
    listen 18080;

    location = / {
        root /usr/share/nginx/html;
    }
}